@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


:root{
    --text-primary: #2B1700;
    --text-secondary: #5F3709;
    --btn-dark: #8A510F;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    margin-left: 6em;
    margin-top: 2em;
    width: 50em;
    // background-color: aquamarine;
    background-image: url(/assets/Linen_background.png);
    // background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar .logo{
    display: flex;
    flex-direction: column;
    width: 10em;
    a{
        text-decoration:none;
        color: var(--text-primary);
        font-size: 2.1em;
        font-family: 'Fredericka the Great', cursive;
    }
    .lastName{
            position: relative;
            // top:-1.2em;
            left: 1.6em;
        }
}

// Common defualt styles
.navbar .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    list-style-type: none;
    background-color: #f5d189;
    width:50em;
    // padding: 0.5em;
    height: 2.5em;
    border-radius: 0.4em;

    .nav-li{
        // background-color: #FFE1A4;
        padding: 0 1.5em 0 1.5em ;
        height: 90%;
        border-radius: 0.4em;
        margin-left: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nav-txt{
        text-decoration: none;
        color: var(--text-primary);
        font-size:larger;
        &:hover{
            // font-weight: bold;
            color: #8A510F;
            font-weight: 600;
        }
        .nav-tracker{
            visibility: hidden ;
            height: 0.1em;
            background-color: var(--text-primary);
            position: relative;
            top:0.2em
        }
        }
    }

    // js will change the tags of nav bar 
    .nav-li.current-selection{
        background-color: #FFE1A4;
        .nav-txt{
        text-decoration: none;
        color: var(--text-primary);
        .nav-tracker{
            visibility: visible;

        }
        }
    }
    
}

.intro{
    .greeting{
        margin: 3em 0 2em 0;
    }
    p{
        color: var(--text-secondary);
        font-weight: 700;
        font-size:larger;
    }
}

.body-text{
    p{
        color: var(--text-secondary);
        // font-weight: 700;
        font-size:larger;
    }
}