@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


:root {
    --text-primary: #2B1700;
    --text-secondary: #5F3709;
    --text-ternary: #a8600f;
    --btn-dark: #8A510F;
    --btn-light: #FFE1A4;
    --overlay: #ffdb8df0;
    --off-white: #fdfdfd;
}

.work-experience-body {
    font-family: 'Montserrat';
    margin: 0;
    margin-left: 6em;
    padding: 0;
    // width: 50em;
    // background-color: aquamarine;
    background-image: url(/assets/Linen_background.png);
    // background-repeat: no-repeat;
    background-attachment: fixed;
    // display: flex;
    // flex-direction: column;
}

// Work card related styles
.work-card{
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    padding: 1em;
    width: 50em;
    .work-img{
        // max-width: 300px;
        height: 100px;
        margin-right: 1em;
    }
    .work-content .work-title{
        font-weight: bold;
        color: var(--text-primary);
        margin: 0;
    }
    .work-location{
        margin: 0;
        padding: 0;
        font-weight:normal;
        color: var(--text-ternary);
    }
    .work-content .work-card-skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 25em;
        .work-card-skill-item{
            background-color: var(--btn-light);
            padding: 0.2em 0.5em 0.2em 0.5em;
            margin: 0.1em;
            border-radius: 0.5em;
        }
    }
}







// Overlay related styles below

.add-job{
    position: fixed;
    // left: 60em;
    right:5em;
    bottom: 5em;
    border-radius: 10em;
    // background-color:rgba(10, 10, 10, 0.4);
    display: flex;
    justify-content: center;
    &:hover {
        background-color:rgba(10, 10, 10, 0.4);
        cursor: pointer;
    }
    
}

.add-job-overlay{
position:absolute;
left: 20em;
top: 5em;

    
    background-color: var(--overlay);
    width: 30em;
    margin: 0;
    padding:1em;
    box-shadow: 10px 15px 1px rgba(10,10,10,0.5);

    display: none;
    flex-direction: column;
    align-items: center;

    .close-work-overlay{
        width: 40px;
        position: absolute;
        right: 20px;
        &:hover {
            // font-weight: bold;
            background-color: var(--off-white);
            border-radius: 1em;
            cursor: pointer;
        }
    }
    // display: inline-block;
    p{
        // background-color: #2B1700;
        // text-align: center;
    }
    form{
        // background-color: #8A510F;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        input{
            // background-color: whi
            background-color: var(--off-white);
            // border-radius: 0.2em;
            // border: none;
            border-width: 0.1em;
            border-color: #ffffff
        };
    }

    .skill-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 25em;

    }
    .skill-item{
        background-color: #fdfdfd;
        padding: 0.2em 0.5em 0.2em 0.5em;
        margin: 0.1em;
        border-radius: 0.5em;
        &:hover{
            background-color: var(--btn-light);
            color: var(--text-primary);
    
            // font-weight: 600;
            cursor: pointer;
        }
    }

    .textarea {
        display: block;
        width: 100%;
        max-width: 30em;
        overflow: hidden;
        resize: both;
        min-height: 40px;
        line-height: 20px;
      }

      .textarea[contenteditable]:empty::before {
        content: "Placeholder still possible";
        color: gray;
      }
    
    // #Skills{
    //     width:20em;
    //     height: 5em;
    //     // background-color: #2B1700;
    // }

    .json-display{
        // width:100%;
        // height: fit-content;\
        font-family: 'Courier';
        background-color: var(--off-white);
        padding: 0.5em;
        border: 0.1em;
        border-style: inset;
        margin-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 100%;
    }
    .json-display-text{
        max-width: 100%;
        flex-wrap: wrap;
        word-break: break-all;
    white-space: normal;
    }

    .json-btns{
        display: flex;
        flex-direction: row;

    }

    .btn {
        background-color: var(--btn-dark);
        color: white;
        height: 2.2em;
        padding: 0 1em 0 1em;
    
        margin-right: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        &:hover {
            // font-weight: bold;
            background-color: var(--btn-light);
            color: var(--text-primary);
    
            // font-weight: 600;
            cursor: pointer;
        }
    }
    .download-json{
        width:fit-content;
    }
}