@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
:root {
  --text-color: #1C3E4A;
  --primary-blue: #096486;
  --dark-blue:  #122830;
  --background-color: #F2F2F2;
}

body {
  background-color: var(--background-color);
  font-family: 'Montserrat';
  margin: 0;
}

.navbar {
  background-color: var(--dark-blue);
  padding: 1em;
  display: -ms-grid;
  display: grid;
  max-height: 4.5em;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
}

.navbar .logo {
  padding-left: 1em;
}

.navbar .logo .firstName, .navbar .logo .lastName {
  font-family: 'Merriweather';
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2.1em;
}

.navbar .logo .lastName {
  position: relative;
  top: -0.2em;
  left: 1.6em;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  float: right;
}

.navbar .nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.navbar .nav-list a {
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}

.navbar .nav-list a:hover {
  color: var(--primary-blue);
}

.navbar .nav-list .page-tracker {
  display: block;
}

.navbar .nav-list .page-tracker .nav-tracker {
  background-color: white;
  width: auto;
  height: 0.5em;
  position: relative;
  top: 2.3em;
}

.navbar .nav-list .page-tracker .cur-page {
  font-weight: bold;
  color: white;
  position: relative;
  top: 0.3em;
}

.navbar .nav-list .page-tracker .cur-page:hover {
  color: var(--primary-blue);
}

.navbar .nav-list .column-btn {
  width: auto;
  margin-left: 3em;
  margin-right: 0.5em;
  font-size: 2.1em;
}

.hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% auto;
      grid-template-columns: 40% auto;
  min-height: 45em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .container .left-col img {
  padding-bottom: 1em;
  padding-top: 1em;
  width: 100%;
  max-width: 30vw;
  height: auto;
}

.hero .container .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container .right-col h1 {
  color: black;
  font-weight: normal;
  width: 90%;
}

.dark-box {
  background-color: var(--dark-blue);
  width: 5em;
  height: 5em;
  float: right;
  position: relative;
  top: -2.5em;
  right: 5em;
}

.skills .container {
  background-color: var(--primary-blue);
  padding: 4em 5%;
}

.skills .container ul {
  position: relative;
  left: 20vw;
  padding: 0;
  width: 70vw;
  list-style-type: none;
}

.skills .container li {
  -webkit-box-shadow: 20px 15px 1px rgba(10, 10, 10, 0.5);
          box-shadow: 20px 15px 1px rgba(10, 10, 10, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--background-color);
  border-radius: 0.2em;
  margin-bottom: 5em;
}

.skills .container .skill-card {
  min-height: 20em;
  margin: 2em 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills .container .skill-card h1 {
  font-size: 2.1em;
}

.skills .container .skill-card h2 {
  font-weight: normal;
  font-size: 1.4em;
}

.skills .container .skill-card img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
  margin: 2em;
  cursor: pointer;
}

.skills .container .skill-card .learn-more a {
  background-color: var(--primary-blue);
  color: #F2F2F2;
  font-size: 1.4em;
  text-decoration: none;
  float: right;
  padding: 0.3em;
  border-radius: 0.1em;
}

.contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .container .contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 20px 15px 4px black;
          box-shadow: 20px 15px 4px black;
  background-color: white;
  width: 60vw;
  margin: 5em 0;
  padding: 5em 5vw 2em 5vw;
}

.contacts .container h1 {
  margin: 0;
  padding: 0;
  font-size: 2.1em;
  font-weight: 600;
}

.contacts .container h2 {
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  width: 60%;
  font-weight: normal;
  padding-left: 2.2em;
  padding-top: 1.5em;
  text-align: center;
}

.contacts .container .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2em;
  padding-left: 10em;
}

.contacts .container .contact-info h2 {
  display: none;
}

.contacts .container .contact-info img {
  height: 10em;
}

.contacts .container .contact-info .right-col {
  padding-left: 5em;
}

.contacts .container .contact-info .right-col h3 {
  font-size: 1.4em;
  font-weight: normal;
}

.contacts .container .contact-info .right-col .social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .container .contact-info .right-col .social-buttons a {
  margin-right: 3em;
}

.contacts .container .contact-info .right-col .social-buttons a img {
  height: 3em;
  border-radius: 0.5em;
}

.contacts .container .contact-info .right-col .social-buttons .resume {
  text-decoration: none;
  height: 3em;
  border-radius: 0.5em;
  background-color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts .container .contact-info .right-col .social-buttons .resume h1 {
  font-size: 1.4em;
  font-weight: normal;
  color: white;
  padding: 0 0.4em 0 0.4em;
}

.footer {
  height: 5em;
  background-color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer h1 {
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 0.7em;
}

@media only screen and (max-width: 1200px) {
  .contacts .container .contact-card h2 {
    display: none;
  }
  .contacts .container .contact-card .contact-info {
    padding: 0;
    padding-top: 3em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .container .contact-card .contact-info h2 {
    text-align: center;
    display: unset;
    width: 100%;
  }
  .contacts .container .contact-card .contact-info .soccer {
    height: auto;
    width: 15em;
  }
  .contacts .container .contact-card .contact-info .right-col {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts .container .contact-card .contact-info .right-col .social-buttons a {
    margin-right: 0;
    margin: 1em;
  }
}
/*# sourceMappingURL=index.css.map */