@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
:root {
  --text-color: #1C3E4A;
  --primary-blue: #096486;
  --dark-blue:  #122830;
  --background-color: #F2F2F2;

  --paper-color: whitesmoke;
  --intro-color:#096486;
  --title-color: var(--primary-blue);
  --bar-color: var(--dark-blue)
}

body {
    // background-color: var(--background-color);
    background-color: white;
    font-family: 'Montserrat';
    margin: 0;
    // min-height: 100em;
}


.navbar {
    background-color: var(--dark-blue);
    padding: 1em;
    display: grid;
    min-height: 2.5em;
  }
  
.navbar .logo {
    // padding-left: 1em;
    text-align: center;
  }
  
.navbar .logo .firstName, .navbar .logo .lastName {
    font-family: 'Merriweather';
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 2.1em;
  }

  .navbar .logo .lastName {
    // position: relative;
    // top: 1em;
    // left: -4em;
    padding-left: 0.2em;
  }


  .leftbar, .rightbar{
    background-color: var(--bar-color);
    width: 10%;
    height: 335em;
    top:50em;
    // bottom: ;
    position: relative;

    // top:20em
  }

  .leftbar{
    float: left;
  }
  .rightbar{
    float: right;
  }

  .intro{
      background-color: #096486;
    display: flex;
    flex-direction: column;
    align-items: center;
      .container{
          // width: 80em;
          color: white;
          background-color: var(--intro-color);
          // background-color: orchid;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      h1{
        color: white;

        // background-color: var(--title-color);
          font-weight:bold;
          text-align: center;
          font-size: 2em;
          padding: 0.5em;
          max-width: 30em;
          
        //   text-decoration: underline;
          // width: 30em;
      }
      h2{
        font-weight: 400;
        font-size: 1em;
        margin-right: 10%;
        margin-left: 10%;
        a{
          color: white;
          font-weight: bold;
        }
        // text-indent: 2.5em;
        // text-align: center;
        // width: 60em;
      }
      .video{
        // display: none;
          padding: 1em;
          width:56vw;
          height:31vw;
          max-width: 40em;
          max-height: 22em;
      }
      .alt-video{
        display: none;
        padding: 1em;
          width:56vw;
          height:31vw;
          max-width: 40em;
          max-height: 22em;
      }
      .pdf-button{
        background-color: grey;
        padding: 0.5em;
        color: white;
        border-radius: 0.5em;
          margin-top: 2em;
          margin-bottom: 2em;
          text-decoration: none;
      }

  }

.paper{
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
      .container{
        background-color: white;
        width:50em;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5em;
        height: 100%;
        display: flex;
        justify-content: center;
      }
      iframe{
        width: 100%;
        // height: 100%;
        background-color: whitesmoke;
        // height: 300em;
        overflow:scroll;
      }
      h1{
          font-weight:normal;
          font-size: 1em;
      }
  }

  .footer{
    height: 2em;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        // font-family: 'times new roman';
        text-align: center;
        font-weight: normal;
        color: white;
        font-size: 0.7em;
    }
}


@media only screen and (max-width: 1000px){
// for screens of a max of --- px
  .leftbar, .rightbar {
    display: none;
  }

  .paper{
    background-color: var(--dark-blue);
    .container{
      padding: 0;
    }
  }
  

  .intro{
    iframe{
      display: none;
    }
  }
  .intro .alt-video {
    display:unset;
    img{
      padding: 1em;
     width:56vw;
     height:31vw;
    }


    
    
  }


}

@media only screen and (max-width: 560px){
  // for screens of a max of --- px
    .leftbar, .rightbar {
      display: none;
    }
  
    .paper{
      background-color: var(--dark-blue);
      .container{
        padding: 0;
      }
    }
    
    .intro h2{
      display: none;
    }

  
  }